{% extends "pages/base.html" %}

{% block title %}
    Pages
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block headline %}
    Pages
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <ul>
            <li><a href="{% url "pdp.pages.views.help_markdown" %}">Documentation de Markdown et des différentes extensions</a></li>
            <li><a href="{% url "pdp.pages.views.about" %}">À propos</a></li>
        </ul>
    </div>
</div>

{% endblock %}
