{% extends "forum/base.html" %}
{% load humane_date %}
{% load profile %}
{% load emarkdown %}

{% block title %}
    Messages postés par {{ usr.username }}
{% endblock %}

{% block headline %}
    Messages postés par {{ usr.username }}
{% endblock %}

{% block breadcrumb %}
    {% with profile=usr|profile %}
        <li ><a href="{{ profile.get_absolute_url }}">{{ usr.username }}</a></li>
    {% endwith %}
    <li ><a href="{% url "pdp.forum.views.find_post" usr.username %}">Messages postés</a></li>
    <li class="current"><a href="#">Recherche</a></li>
{% endblock %}

{% block content %}
{% include "misc/pagination.part.html" with position="top" %}
    <div class="row">
        <table>
          <thead>
            <tr>
              <th width="15%">Sujet</th>
              <th width="10%">Quand</th>
              <th width="30%">Extrait</th>
            </tr>
          </thead>
          <tbody>
            {% for post in posts %}
            <tr>
                <td>
                    <div class="forum-entry-title {% if user.is_authenticated %} {% if topic.never_read %} unread {% endif %} {% endif %}">
                        <a href="{{ post.get_absolute_url }}">{{ post.topic.title }} </a>
                        {% if post.topic.subtitle %} <p> {{ post.topic.subtitle }} </p> {% endif %}
                    </div>
                </td>
                <td>
                    {% with date=post.pubdate|humane_date %}
                        {{ date }}
                    {% endwith %}
                </td>
                <td>
                    {{ post.text|truncatechars:200|emarkdown }}
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% include "misc/pagination.part.html" with position="bottom" %}

{% endblock %}
